* {
  scroll-behavior: smooth;
  transition: all 0.2s ease-in;
}
.home_bg {
  background: url(./assets/Postit_home_bg.svg);
  /* color: #808080d1; */
}

.get_started_bg {
  background: url(./assets/get_started_bg.svg);
  /* color: #80808073; */
}